Repository danilakritsky/deliverybot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, bandit, safety

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black .
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: poetry run isort .
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: poetry run flake8 .
        language: system
        types: [python]

      - id: mypy
        name: mypy
        files: ^src/  # https://github.com/pre-commit/mirrors-mypy/issues/5
        entry: poetry run mypy .
        pass_filenames: false  # https://github.com/python/mypy/issues/4008
        language: system
        types: [python]

      - id: bandit
        name: bandit
        files: ^src/  # to ignore assert errors
        entry: poetry run bandit .
        language: system
        types: [python]
        
      - id: safety
        name: safety
        entry: poetry run safety check
        pass_filenames: false
        language: system
        types: [python]

Add basic bot config
  poetry.lock
  pyproject.toml
  src/bot.py
  src/replies.py
Due: black, isort, flake8, mypy, bandit, safety

Manage configuration with pydantic
  src/bot.py
  src/config.py
Due: black, isort, flake8, mypy, bandit, safety

Set message parse_mode for the bot to HTML
  src/bot.py
  src/replies.py
Due: black, isort, flake8, mypy, bandit, safety

Add about info handler
  src/bot.py
  src/keyboards.py
  src/replies.py
Due: black, isort, flake8, mypy, bandit, safety

Refactor keyboards to use ReplyKeyboardBuilder
  src/keyboards.py
Due: black, isort, flake8, mypy, bandit, safety

Add help message handling
  src/bot.py
  src/keyboards.py
  src/replies.py
Due: black, isort, flake8, mypy, bandit, safety

Add the order starter handler
  src/bot.py
Due: black, isort, flake8, mypy, bandit, safety

Move handlers to a Router
  src/bot.py
  src/router.py
Due: black, isort, flake8, mypy, bandit, safety

Add JSON encoder middleware to track updates
  src/bot.py
  src/middlewares.py
  src/router.py
Due: black, isort, flake8, mypy, bandit, safety

Improve project directory structure
  src/deliverybot/__init__.py
  src/deliverybot/bot.py
  src/deliverybot/config.py
  src/deliverybot/keyboards/__init__.py
  src/deliverybot/keyboards/inline.py
  src/deliverybot/keyboards/regular.py
  src/deliverybot/middlewares.py
  src/deliverybot/replies.py
  src/deliverybot/routers/__init__.py
  src/deliverybot/routers/info_router.py
  src/deliverybot/routers/order_router.py
  src/router.py
Due: black, isort, flake8, mypy, bandit, safety

Generate stub files
  pyproject.toml
  src/deliverybot/routers/info_router.py
  src/deliverybot/routers/order_router.py
  stubs/deliverybot/__init__.pyi
  stubs/deliverybot/bot.pyi
  stubs/deliverybot/config.pyi
  stubs/deliverybot/keyboards/__init__.pyi
  stubs/deliverybot/keyboards/inline.pyi
  stubs/deliverybot/keyboards/regular.pyi
  stubs/deliverybot/middlewares.pyi
  stubs/deliverybot/replies.pyi
  stubs/deliverybot/routers/__init__.pyi
  stubs/deliverybot/routers/info_router.pyi
  stubs/deliverybot/routers/order_router.pyi
Due: black, isort, flake8, mypy, bandit, safety

Remove stubs
  pyproject.toml
  stubs/deliverybot/__init__.pyi
  stubs/deliverybot/bot.pyi
  stubs/deliverybot/config.pyi
  stubs/deliverybot/keyboards/__init__.pyi
  stubs/deliverybot/keyboards/inline.pyi
  stubs/deliverybot/keyboards/regular.pyi
  stubs/deliverybot/middlewares.pyi
  stubs/deliverybot/replies.pyi
  stubs/deliverybot/routers/__init__.pyi
  stubs/deliverybot/routers/info_router.pyi
  stubs/deliverybot/routers/order_router.pyi
Due: none

Refactor router to use inline keyboards
  src/deliverybot/keyboards/__init__.py
  src/deliverybot/keyboards/inline.py
  src/deliverybot/routers/info_router.py
Due: black, isort, flake8, mypy, bandit, safety

Add menu selection handlers
  src/deliverybot/keyboards/inline.py
  src/deliverybot/routers/order_router.py
Due: black, isort, flake8, mypy, bandit, safety

Add menu section selection handler.
  src/deliverybot/bot.py
  src/deliverybot/fsm.py
  src/deliverybot/keyboards/inline.py
  src/deliverybot/menu.py
  src/deliverybot/middlewares.py
  src/deliverybot/routers/info_router.py
  src/deliverybot/routers/order_router.py
Due: black, isort, flake8, mypy, bandit, safety

Add flask server to serve photos
  poetry.lock
  pyproject.toml
  src/deliverybot/menu.py
  src/deliverybot/menu/__init__.py
  src/deliverybot/routers/order_router.py
  src/deliverybot_server/app.py
  src/deliverybot_server/static/photos/dessert_1.jpg
  src/deliverybot_server/static/photos/dessert_2.jpg
  src/deliverybot_server/static/photos/dessert_3.jpg
  src/deliverybot_server/static/photos/drink_01.jpg
  src/deliverybot_server/static/photos/drink_02.jpg
  src/deliverybot_server/static/photos/drink_03.jpg
  src/deliverybot_server/static/photos/meal_01.png
  src/deliverybot_server/static/photos/meal_02.jpg
  src/deliverybot_server/static/photos/meal_03.jpg
Due: black, isort, flake8, mypy, bandit, safety

Add sqlalchemy models
  .devcontainer/Dockerfile
  poetry.lock
  pyproject.toml
  src/bot/__init__.py
  src/bot/bot.py
  src/bot/config.py
  src/bot/fsm.py
  src/bot/keyboards/__init__.py
  src/bot/keyboards/inline.py
  src/bot/keyboards/regular.py
  src/bot/middlewares.py
  src/bot/replies.py
  src/bot/routers/__init__.py
  src/bot/routers/info_router.py
  src/bot/routers/order_router.py
  src/database/database.db
  src/database/database.py
  src/deliverybot/menu/__init__.py
  src/server/app.py
  src/server/static/photos/dessert_01.jpg
  src/server/static/photos/dessert_02.jpg
  src/server/static/photos/dessert_03.jpg
  src/server/static/photos/drink_01.jpg
  src/server/static/photos/drink_02.jpg
  src/server/static/photos/drink_03.jpg
  src/server/static/photos/meal_01.jpg
  src/server/static/photos/meal_02.jpg
  src/server/static/photos/meal_03.jpg
Due: black, isort, flake8, mypy, bandit, safety

Refactor to use absolute imports
  .pre-commit-config.yaml
  deliverybot/__init__.py
  deliverybot/bot/__init__.py
  deliverybot/bot/__main__.py
  deliverybot/bot/config.py
  deliverybot/bot/fsm.py
  deliverybot/bot/keyboards/__init__.py
  deliverybot/bot/keyboards/inline.py
  deliverybot/bot/keyboards/regular.py
  deliverybot/bot/middlewares.py
  deliverybot/bot/replies.py
  deliverybot/bot/routers/__init__.py
  deliverybot/bot/routers/info_router.py
  deliverybot/bot/routers/order_router.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
  deliverybot/server/__init__.py
  deliverybot/server/app.py
  deliverybot/server/static/photos/dessert_01.jpg
  deliverybot/server/static/photos/dessert_02.jpg
  deliverybot/server/static/photos/dessert_03.jpg
  deliverybot/server/static/photos/drink_01.jpg
  deliverybot/server/static/photos/drink_02.jpg
  deliverybot/server/static/photos/drink_03.jpg
  deliverybot/server/static/photos/meal_01.jpg
  deliverybot/server/static/photos/meal_02.jpg
  deliverybot/server/static/photos/meal_03.jpg
  src/bot/routers/__init__.py
  src/database/database.db
Due: black, isort, flake8, mypy, bandit, safety

Update inline query results to show thumbnails
  deliverybot/bot/__init__.py
  deliverybot/bot/filters/__init__.py
  deliverybot/bot/keyboards/inline.py
  deliverybot/bot/middlewares/__init__.py
  deliverybot/bot/routers/order_router.py
  deliverybot/config.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
Due: black, isort, flake8, safety

Add SQLite state storage
  deliverybot/bot/__init__.py
  deliverybot/bot/fsm.py
  deliverybot/bot/fsm/__init__.py
  deliverybot/bot/fsm/states.py
  deliverybot/bot/fsm/storage.py
  deliverybot/bot/routers/info_router.py
  deliverybot/bot/routers/order_router.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
Due: black, isort, flake8, safety

Refactor database initialization and helpers
  deliverybot/bot/__init__.py
  deliverybot/bot/filters/__init__.py
  deliverybot/bot/fsm/states.py
  deliverybot/bot/fsm/storage.py
  deliverybot/bot/keyboards/inline.py
  deliverybot/bot/replies.py
  deliverybot/bot/routers/info_router.py
  deliverybot/bot/routers/order_router.py
  deliverybot/config.py
  deliverybot/database/__init__.py
  deliverybot/database/__main__.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
  deliverybot/database/test.py
  scripts/init_database.sh
  scripts/run_server.sh
  scripts/start_bot.sh
Due: black, isort, flake8, safety

Refactor handlers
  deliverybot/bot/__init__.py
  deliverybot/bot/filters/__init__.py
  deliverybot/bot/fsm/states.py
  deliverybot/bot/fsm/storage.py
  deliverybot/bot/replies.py
  deliverybot/bot/routers/info_router.py
  deliverybot/bot/routers/order_router.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
  deliverybot/database/test.py
Due: black, isort, flake8, safety

Add cart keyboard
  deliverybot/bot/keyboards/inline.py
  deliverybot/bot/routers/order_router.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
Due: black, isort, flake8, safety

Add decrease item quanity handler
  deliverybot/bot/__init__.py
  deliverybot/bot/keyboards/inline.py
  deliverybot/bot/routers/__init__.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/bot/routers/info_router.py
  deliverybot/bot/routers/order_router.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
Due: black, isort, flake8, safety

Add handler for adding new item
  README.md
  deliverybot/bot/__init__.py
  deliverybot/bot/keyboards/__init__.py
  deliverybot/bot/keyboards/inline.py
  deliverybot/bot/keyboards/regular.py
  deliverybot/bot/routers/__init__.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/bot/routers/helpers.py
  deliverybot/bot/routers/info_router.py
  deliverybot/bot/routers/menu_router.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
  pyproject.toml
Due: black, isort, flake8, safety

Add basic implementation of remove_item handler
  README.md
  deliverybot/bot/keyboards/__init__.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/bot/routers/menu_router.py
  deliverybot/database/database.db
Due: black, isort, flake8, safety

Add next_item and previous_item handlers
  deliverybot/bot/keyboards/__init__.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/bot/routers/menu_router.py
  deliverybot/database/database.db
Due: black, isort, flake8, safety

Add remove_item handler*
  deliverybot/bot/routers/cart_router.py
  deliverybot/database/database.db
Due: black, isort, flake8, safety

Add cancel button handlers
  deliverybot/bot/keyboards/__init__.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/bot/routers/menu_router.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
Due: black, isort, flake8, safety

Add submit_order handler
  deliverybot/bot/keyboards/__init__.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
Due: black, isort, flake8, safety

Add confirm_order handler
  deliverybot/bot/fsm/storage.py
  deliverybot/bot/keyboards/__init__.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
Due: black, isort, flake8, safety

Add order_history handler
  deliverybot/bot/__init__.py
  deliverybot/bot/fsm/storage.py
  deliverybot/bot/routers/__init__.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/bot/routers/helpers.py
  deliverybot/bot/routers/order_history_router.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
Due: black, isort, flake8, safety

Add handlers for reviewing and rating
  deliverybot/bot/fsm/states.py
  deliverybot/bot/keyboards/__init__.py
  deliverybot/bot/routers/helpers.py
  deliverybot/bot/routers/order_history_router.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
Due: black, isort, flake8, safety

Fix flake8 and mypy errors
  deliverybot/bot/fsm/states.py
  deliverybot/bot/keyboards/__init__.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/bot/routers/helpers.py
  deliverybot/bot/routers/order_history_router.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
  deliverybot/database/test.py
  pyproject.toml
Due: black, isort, flake8, safety

Add text message templates
  deliverybot/bot/fsm/storage.py
  deliverybot/bot/replies.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/bot/routers/info_router.py
  deliverybot/bot/routers/menu_router.py
  deliverybot/bot/routers/order_history_router.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
Due: black, isort, flake8, safety

Fix state branching
  deliverybot/bot/fsm/states.py
  deliverybot/bot/fsm/storage.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/bot/routers/menu_router.py
  deliverybot/bot/routers/order_history_router.py
  deliverybot/database/database.db
Due: black, isort, flake8, safety

Rewrite info messages
  deliverybot/database/__init__.py
  deliverybot/database/database.db
Due: black, isort, flake8, safety

Update text messages
  deliverybot/bot/keyboards/__init__.py
  deliverybot/bot/routers/cart_router.py
  deliverybot/bot/routers/order_history_router.py
  deliverybot/database/__init__.py
  deliverybot/database/database.db
Due: black, isort, flake8, safety

Update ownership
  LICENSE
  README.md
  poetry.lock
  pyproject.toml
Due: none

Add Dockerfile
  Dockerfile
  deliverybot/database/__init__.py
  deliverybot/database/__main__.py
  deliverybot/database/database.db
  deliverybot/database/helpers.py
Due: black, isort, flake8, safety
